body {
  background-image: url('./../assets/img/verduras.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.fondo-container{
  /*top-right -bottom-left*/
  margin: 60px auto auto auto;
}
.user{
  margin: 200px auto auto auto;
  width: 200px;
  text-align: center;
  display: block;
  float: left;
  color: floralwhite;
}
.user-image {
  width: 100px;
}
.button-logout {
  background-color: rgba(255, 128, 0, 0.753);
  border-color: rgba(255, 128, 0, 0.753);
}
.button-logout:hover {
  background-color:black;
  border-color: rgba(255, 128, 0, 0.753);
}

@media (min-width: 700px) {
  .fondo-container{
    /*top-right -bottom-left*/
    margin: 200px auto auto auto;
  }
  .buttons-login{
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .fondo-container{
    /*top-right -bottom-left*/
    margin: 250px auto auto auto;
  }
  .buttons-login{
    margin-top: 60px;
  }
 }