body {
  background-image: url('./../assets/img/verduras.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.fondo-container{
  /*top-right -bottom-left*/
  margin: 60px auto auto auto;
}

.user-image {
  width: 100px;
}

@media (min-width: 700px) {
  .fondo-container{
    /*top-right -bottom-left*/
    margin: 200px auto auto auto;
  }
  .buttons-login{
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .fondo-container{
    /*top-right -bottom-left*/
    margin: 250px auto auto auto;
  }
  .buttons-login{
    margin-top: 60px;
  }
 }